/*
// ----------------------------------
// 🍅 Pummarola Start
// ----------------------------------
*/

@import "core/_token.css";
@import "core/_mixin.css";
@import "core/_breakpoint.css";
@import "core/_reset.css";

@import "components/_button.css";
@import "sections/_block.css";

.site-shell {
  @apply --grid-container;
  display: grid;
  gap: var(--space-lg);
  padding-block: var(--space-xxl);
}

.button-demo {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-base);
}

/*
// ----------------------------------
// 🍅 Pummarola Ends
// ----------------------------------
*/