//- Block section.
//- @author Pummarola
//- Usage: +blockSection()
//- Usage: +blockSection({ heading: 'Block' })
//- Usage: +blockSection({ heading: 'Block' })(class='is-highlighted')

mixin blockSection(props = {})
  - var heading = props.heading || 'Title'

  section.block-section&attributes(attributes)
    .site-shell
      .block-section-title
        h1= heading

      if block
        block
