include ../utils/date
include ../utils/icon
include ../utils/ipsum
include ../utils/loop
include ../utils/placeholder


doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    block title
      title Pummarola | 1.0
    link(rel='stylesheet' href='/source/styles/app.css')
  body(itemscope='' itemtype='http://schema.org/WebPage')
    +iconSprite()
    block content
    block script
      script(type='module' src='/source/scripts/app.ts')
