/*
// ----------------------------------
// 🍅 Pummarola FontFace
// ----------------------------------
*/

@font-face {
  font-family: 'Geist';
  src: url('../../fonts/geist/Geist[wght].ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('../../fonts/geist-mono/GeistMono[wght].ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
