/*
// ----------------------------------
// 🍅 Pummarola Tokens
// ----------------------------------
*/

:root {
  /* Primitive colors */
  --color-white: #ffffff;
  --color-dark: #1e1e1e;
  --color-border: #d1d1d1;

  --background: oklch(15.5% 0.004 285);

  /* Space */
  --space-half: 8px;
  --space-base: 16px;
  --space-double: 24px;
  --space-middle: 32px;
  --space-triple: 48px;

  /* Radius */
  --radius-base: 20px;

  /* Stroke */
  --stroke-base: 1px;
  --stroke-double: 2px;

  /* Typography */
  --font-sans: 'Geist', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
  --font-mono: 'Geist Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  /* Grid */
  --grid-container: 100%;
  --grid-column: 100%;
  --grid-gap: var(--space-base);
  --grid-gap-between-blocks: var(--space-xl);

  @media (--mq-laptop) {
    --grid-container: 1260px;
    --grid-column: 575px;
    --grid-gap: var(--space-xl);
    --grid-gap-between-blocks: var(--space-xxl);
  }

  @media (--mq-desktop) {
    --grid-container: 1918px;
    --grid-gap: var(--space-xxl);
  }

}
